body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  list-style: none;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1136px;
  /* width: 320px; */
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  /* font-size: 24px; */
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  /* text-align: center; */
  color: #111;
}

.title span {
  color: #fd9222;
}

/* ========= header ============ */
.header {
  padding-top: 24px;
  padding-bottom: 32px;
}
.header-container {
  display: flex;
}
.header-navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin-right: 90px;
  align-items: center;
}
.header-logo {
  font-weight: 700;
  font-size: 19px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
  display: flex;
  /* margin-right: 188px; */
}
.header-logo-cursive {
  font-style: italic;
}
.header-menu-list {
  display: flex;
  gap: 24px;
}
.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111111;
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: #fd9222;
}

.header-contact-list {
  display: flex;
  gap: 18px;
}
.header-contact-icon {
  fill: transparent;
  stroke: #111111;
}

/* ============= hero ============== */

.hero {
  padding-bottom: 80px;
}

.hero-wrap {
  background-color: #fcf1e0;
  padding: 380px 40px 40px 40px;
  border-radius: 30px;
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(../images/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
  max-width: 484px;
}
.hero-buttons {
  display: flex;
  align-items: center;
}
.hero-buy-btn {
  font-weight: 600;
  font-size: 14px;
  padding: 14px 40px;
  border-radius: 100px;
  border: none;
  color: #fff;
  background-color: #fd9222;
  margin-right: 14px;
}
.hero-made-btn {
  font-weight: 600;
  font-size: 14px;
  padding: 14px 40px;
  border: 1px solid #fff;
  border-radius: 100px;
  color: #fff;
}
.hero-down-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  margin-left: auto;
}

/*==========featuras =========== */

.featuras {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
  gap: 88px;
  padding-left: 18px;
  padding-right: 18px;
}
.features-item {
  width: calc((100% - 2 * 88px) / 3);
}

.features-image {
  margin-bottom: 18px;
}
.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}
.features-item-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* .features-item::after {
  content: "|";
  width: 2px;
  height: 20px;
  background-color: white;
  display: block;
} */

/* ======== taste ========= */

.taste {
  padding-top: 120px;
  padding-bottom: 120px;
}

.taste-title {
  width: 383px;
  margin: 0 auto;
  margin-bottom: 28px;
  text-align: center;
}

.taste-text {
  width: 486px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  margin: 0 auto;
  margin-bottom: 50px;
}
.taste-list {
  display: flex;
  gap: 19px;

  /* width: calc((100% - 19px * 3) / 4); */
}

.taste-item {
  padding: 28px;
  border-radius: 15px;
  background-color: #fd9222;
}

.taste-image {
  margin-bottom: 36px;
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

/* +======== made ========= */

.made {
  padding-bottom: 120px;
}

.made-title {
  margin-bottom: 50px;
}
.made-wrap {
  display: flex;
  gap: 20px;
}

.made-image {
}

.made-content {
  /* display: flex; */
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: #111;
}

.made-list {
}

.made-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

/* ===== products =========== */

.products {
  padding-bottom: 120px;
}
.products-title {
  margin-bottom: 50px;
}

.products-list {
}
.products-item {
}
.products-image {
}

.products-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: #111;
}

.products-item-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.products-item-btn {
  font-weight: 600;
  font-size: 14px;
  color: #111;
}

/* ===========sellers ============== */
.sellers {
  padding-bottom: 128px;
}
.sellers-title {
  margin-bottom: 50px;
}

.sellers-list {
  display: flex;
  gap: 16px;
}
.sellers-item {
}
.sellers-image {
}

.sellers-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  padding-top: 28px;
  padding-bottom: 28px;
  text-align: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-top: 0;
  border-radius: 0 0 15px 15px;
}

.sellers-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
  width: 402px;
}
/* =========== loved ============== */
.loved {
}
.loved-title {
}
.loved-list {
}
.loved-item {
}
.loved-image {
}

.loved-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  /* text-align: center; */
  color: #111;
}

.loved-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  /* text-align: center; */
  color: rgba(17, 17, 17, 0.7);
}

.loved-btn {
  font-weight: 600;
  font-size: 18px;
  color: #111;
}

/* ========== explore ============= */

.explore {
  background-color: dimgrey;
  /* width: 1136px; */
  height: 370px;
}
.explore-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  /* text-align: center; */
  color: #fff;
}
.explore-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}
.explore-btn {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

/* ======== footer =============== */
.footer {
  background-color: #1e1823;
}
.footer-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 121%;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-text span {
  color: #fd9222;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  /* text-align: center; */
  color: #fff;
}
.footer-contacts-list {
}
.footer-contacts-item {
}
.footer-contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  /* text-align: center; */
  color: #fff;
}
.footer-soc-list {
}
.footer-soc-item {
}
.footer-soc-link {
}
.footer-soc-icon {
  color: #fff;
}
.footer-navigation {
}
.footer-menu-list {
}
.footer-menu-item {
}
.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}
